<customcarouselpants ng-if="isActive('catalog/umuc-pants')"></customcarouselpants>
<customcarouselshirts ng-if="isActive('catalog/umuc-shirts')"></customcarouselshirts>
<customcarouseljackets ng-if="isActive('catalog/umuc-jacket')"></customcarouseljackets>
<customcarouselpolos ng-if="isActive('catalog/umuc-polo')"></customcarouselpolos>
<customcarouselhats ng-if="isActive('catalog/umuc-hats')"></customcarouselhats>
<section class="category-view">
    <div class="row">
        <aside ng-if="!isActive('catalog')" class="col-md-3 visible-md visible-lg">
            <div class="panel panel-default panel-nav">
                <nav class="nav 451qa_sidenav panel-body">
                    <ul>
                        <categorytree tree='tree' current='currentCategory' />
                    </ul>
                </nav>
            </div>
        </aside>
        <div ng-class="{ 'col-md-9': !isActive('catalog'), 'col-md-12': isActive('catalog') }">

            <div class="featured-items-wrapper" ng-show="isActive('catalog/umuc-apparel')">
                <featureditemspants></featureditemspants>
                <featureditemsshirts></featureditemsshirts>
                <featureditemsjackets></featureditemsjackets>
                <featureditemspolos></featureditemspolos>
                <featureditemshats></featureditemshats>
            </div>


            <!--<categorylistview ng-hide="isActive('catalog')"></categorylistview>-->
            <categorylistview ng-show="isActive('catalog')"></categorylistview>
            <productlistview ng-hide="isActive('catalog/umuc-apparel')"></productlistview>
        </div>
    </div>
</section>