<section class="user-view">
    <div class="hidden-md hidden-lg" ng-class="{'panel panel-default':!user.Permissions.contains('ViewSelfAdmin')}">
        <div class="panel-heading" ng-show="!user.Permissions.contains('ViewSelfAdmin')">
            <h3 class="panel-title">{{'My Account' | r | xlat}}</h3>
        </div>
        <div ng-class="{'panel-body':!user.Permissions.contains('ViewSelfAdmin')}">
            <accountnavigation />
        </div>
    </div>
    <loadingindicator title="{{'Please wait while we save your changes' | r | xlat}}" ng-show="displayLoadingIndicator"/>
    <identifyusermessage ng-show="user.Type == 'TempCustomer'" />
    <form ng-show="user.Permissions.contains('ViewSelfAdmin')" name="login_existing" ng-submit="loginExisting()" ng-if="user.Type == 'TempCustomer'">
        <div class="panel panel-default" id="user_form">
            <div class="panel-heading">
                <h3 class="panel-title">{{('Login' | r) + ' ' + ('as existing user' | r) | xlat}}</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-6 col-md-offset-3">
                    <label>{{'Username' | r | xlat}}</label><input name="username" class="form-control" type="text" ng-model="loginasuser.Username" autocomplete="off" required placeholder="{{'Username' | r | xlat}}" /><br />
                    <label>{{'Password' | r | xlat}}</label><input name="password" class="form-control" type="password" ng-model="loginasuser.Password" autocomplete="off" required placeholder="{{'Password' | r | xlat}}" /><br />
                </div>
            </div>
            <div class="panel-footer">
                <input class="btn btn-medium btn-primary" type="submit" ng-disabled="login_existing.$invalid" id="451_btn_login_existing" value="{{'Login' | r | xlat}}" />
                <inlineerror ng-show="loginAsExistingError" title="{{loginAsExistingError}}" />
            </div>
        </div>
    </form>

    <div ng-show="user.Permissions.contains('ViewSelfAdmin')" ng-if="user.Type == 'TempCustomer'">
        <form name="login_help" ng-submit="getToken()">
            <div ng-show="!enterResetToken" class="panel panel-default">
                <loadingindicator ng-show="emailResetLoadingIndicator" title="{{'Please wait while we email your verification code' | r | xlat}}" />
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Forgot password? Enter your email address to reset.' | r | xlat}}</h3>
                </div>
                <div class="panel-body">
                    <label>{{'Email' | r | xlat}}</label>
                    <input name="username" required class="form-control" type="text" ng-model="loginasuser.Email" autocomplete="off" placeholder="{{'Email' | r | xlat}}" />
                    <br/>
                    <div class="panel-footer">
                        <input class="btn btn-medium btn-primary" type="submit" ng-disabled="login_help.$invalid" id="451_btn_login_existing" value="{{'Reset' | r | xlat}}" />
                        <div class="view-inline-error" style="text-align: left" ng-show="resetPasswordError" ng-bind-html="resetPasswordError" />
                    </div>
                </div>
            </div>
        </form>

        <form name="resetbytoken" ng-submit="resetWithToken()" >
            <div class="panel panel-default" ng-show="enterResetToken">
                <loadingindicator ng-show="emailResetLoadingIndicator" title="{{'Please wait while we reset your password' | r | xlat}}" />
                <div class="panel-heading">
                    <h3 class="panel-title">{{'Lost login information' | r | xlat}}</h3>
                </div>
                <div class="panel-body">
                    <p class="alert-warning">{{'An email was sent with your username and verification code.' | r | xlat}}</p>
                    <div class="row">
                        <label>{{'Username' | r | xlat}}</label>
                        <input required name="username" class="form-control" type="text" ng-model="loginasuser.UserName" autocomplete="off" placeholder="{{'Username' | r | xlat}}" />
                    </div>
                    <div class="row">
                        <label>{{'Verification code from email' | r | xlat}}</label>
                        <input required name="token" class="form-control" type="text" ng-model="loginasuser.PasswordResetToken" autocomplete="off" placeholder="{{'Verification Code' | r | xlat}}" />
                    </div>
                    <div class="row">
                        <label>New {{'Password' | r}}</label>
                        <input required class="form-control" name="new_password" type="password" ng-model="loginasuser.NewPassword" placeholder="New {{'Password' | r}}" />
                    </div>
                    <div class="row">
                        <label>Confirm {{'Password' | r}}</label>
                        <input required class="form-control" name="confirm_password" type="password" ng-model="loginasuser.ConfirmPassword"  placeholder="Confirm {{'Password' | r}}" ng-match="loginasuser.NewPassword" />
                        <inlineerror ng-show="resetbytoken.confirm_password.$error.match" title="{{'Password' | r}}s do not match!" /><br />
                    </div>
                    <div xclass="panel-footer">
                        <input class="btn btn-medium btn-primary" type="submit" ng-disabled="resetbytoken.$invalid" value="{{'Reset' | r | xlat}}" />
                        <div class="view-inline-error" style="text-align: left" ng-show="resetPasswordError" ng-bind-html="resetPasswordError" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>