<style ng-if="continue">
    .cart-buttons ul {
        width: 100%;
    }
    .cart-buttons ul li {
        width: 20%;
        float:left;
        padding:0 5px;
    }
    .cart-buttons ul.authenticated li {
        width:25%;
    }

    @media(max-width:767px) {
        .cart-buttons ul li,
        .cart-buttons ul.authenticated li {
            width:100%;
            padding:5px 0;
        }
    }
    .cart-buttons ul li button {
        width: 100%;
        border-radius:0;
    }
</style>
<ul ng-class="{'': user.Type == 'TempCustomer', 'authenticated': user.Type != 'TempCustomer' }">
    <li ng-if="continue">
        <button type="button" class="btn btn-info" redirect="catalog">
            <small class="hidden-xs">{{'Continue Shopping' | r | xlat}}</small>
            <small class="visible-xs">{{'Shop' | r | xlat}}</small>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-danger" ng-click="currentOrder.Status == 'AwaitingApproval' ? cancelEdit() : cancelOrder()">
            <small class="hidden-xs" ng-if="currentOrder.Status != 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Order' | r) | xlat}}</small>
            <small class="hidden-xs" ng-if="currentOrder.Status == 'AwaitingApproval'">{{('Cancel' | r) + ' ' + ('Edit' | r) | xlat}}</small>
            <small class="visible-xs">{{'Cancel' | r | xlat}}</small>
        </button>
    </li>
    <li>
        <button type="submit" class="btn btn-primary" ng-click="saveChanges()">
            <loadingindicator  ng-show="displayLoadingIndicator" />
            <small class="hidden-xs">{{('Save' | r) + ' ' + ('Order' | r) | xlat}}</small>
            <small class="visible-xs">{{'Save' | r | xlat}}</small>
        </button>
    </li>
    <li ng-show="user.Type != 'TempCustomer'">
        <button type="button" class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" ng-click="checkOut()" ng-disabled="cart.$invalid || kitValidation">
            <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
            <span>{{'Check Out' | r | xlat}}</span>
        </button>
    </li>
    <li ng-show="user.Type == 'TempCustomer'">
        <button class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" redirect="login" ng-disabled="cart.$invalid || kitValidation">
            <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
            <small class="hidden-xs">{{'Login / Check Out' | r | xlat}}</small>
            <small class="visible-xs">{{'Login' | r | xlat}}</small>
        </button>
    </li>
    <li ng-show="user.Type == 'TempCustomer'">
        <button class="btn" ng-class="{'btn-warning': cart.$invalid, 'btn-success': !cart.$invalid }" redirect="admin" ng-disabled="cart.$invalid || kitValidation">
            <i ng-show="cart.$invalid || kitValidation" class="fa fa-warning"></i>
            <small class="hidden-xs">{{'Login / Register' | r | xlat}}</small>
            <small class="visible-xs">{{'Register' | r | xlat}}</small>
        </button>
    </li>
</ul>
